{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}
<h3>Search</h3>
<input
    class="form-control"
    type="search"
    name="search"
    placeholder="Begin typing to search user books..."
    hx-post="/profile/search/api"
    hx-trigger="keyup changed delay:500ms, search"
    hx-target="#search-results"
>
<div id="search-results"></div>

{% endblock %}
